.background {
  background-image: url("../assets/images/background.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8);
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 20px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link {
  text-decoration: none;
}

.link-sign-up {
  padding-bottom: 10px;
}

#alert-error-login {
  display: none;
}
